/* Nav bar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.593);
  border-radius: 10px;
  height: 50px;
  margin: 0 0 20px 0;
}
.navitem {
  display: flex;
  margin: 0 20px;
  height: 20px;
  width: 20px;
}

/* All Products page */
.productsPage {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-wrap: wrap;
  /* border: black 2px solid; */
}
.product-wrapper {
  display: flex;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  height: 20vh;
  width: 20vw;
  background: rgba(143, 143, 143, 0.589);
}
.productsList {
  display: flex;
  width: 30vw;
  height: 30vw;
}
.product-image {
  height: 10vh;
}

/* Product Info */
.productInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.backsplash {
  width: 80vw;
  border-radius: 20px;
  height: 70vh;
}
button {
  display: flex;
  align-items: center;
  background-color: rgb(144, 190, 255);
  border-radius: 5px;
}
