/* App */
html {
  background: url('../assets/granite-background.jpeg') no-repeat center center;
}
/* Nav bar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(143, 143, 143, 0.589);
  border-radius: 10px;
  height: 50px;
  margin: 0 0 20px 0;
}
.navitem {
  display: flex;
  margin: 0 20px;
  height: 20px;
  width: 20px;
}
.logout {
  text-decoration: underline;
}
.logout :hover {
  cursor: pointer;
}
.userIcon {
  height: 20px;
}
.userInfo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
/* Homepage */
.homepage-grid {
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-item {
  display: flex;
}
/* All Products page */
.search {
  display: flex;
  justify-content: center;
}
.search-form {
  display: flex;
}
.inputBox {
  border-radius: 20px;
}
.productsPage {
  margin: 0 auto;
  display: flex;
  width: 90vw;
  height: 80vh;
  flex-wrap: wrap;
}
.product-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  height: 320px;
  width: 300px;
  padding: 10px;
  background: rgba(143, 143, 143, 0.589);
}
.products-image-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.productsList {
  display: flex;
  width: 40vw;
  height: 40vh;
}
.product-image {
  height: 10vh;
}
.add-to-cart {
  display: flex;
  justify-content: center;
}

/* Product Info */
.productInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.backsplash {
  border-radius: 20px;
  height: 40vh;
  max-height: 40vh;
}
.product-data {
  display: flex;
  width: 30vw;
  flex-direction: column;
  background: rgba(143, 143, 143, 0.589);
  border-radius: 10px;
}
.productItem {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
button {
  width: 80px;
  align-items: center;
  background-color: rgb(144, 190, 255);
  border-radius: 20px;
}

img {
  border-radius: 10px;
}

/* Forms style */
.container {
  display: flex;
  justify-content: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.551);
  border-radius: 10px;
  width: 350px;
  height: 350px;
}
.form-input {
  height: 30px;
  margin: 10px;
  border-radius: 10px;
}
.formInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

/* Cart page */
.cart {
  display: flex;
}
